.typeC.end .MMLabel {
    transform: translateX(-56px);
}
.typeC.end.mWrapper{
    transform: translateX(-8px);
}
.end .list_item.active .MMLabel {
    transform: translateX(-96px);
}
.end:not(.typeC) .active.list_item .icon {
    transform: translateX(-32px);
}
/*indicator*/
.typeA.end .indicator::before {
    top: -21px;
    box-shadow: 12px 12px var(--bg-clr);
    right: 31px;
}
.typeA.end .indicator::after {
    bottom: -21px;
    box-shadow: 12px -12px var(--bg-clr);
    right: 31px;
}
.typeB.end .indicator::before {
    top: -21px;
    box-shadow: -12px 12px var(--bg-clr);
    right: 9px;
}
.typeB.end .indicator::after {
    bottom: -21px;
    box-shadow: -12px -12px var(--bg-clr);
    right: 9px;
}
.typeC.end .indicator::after {
    right: 25px;
    box-shadow: -16px 16px var(--bg-clr);
    top: -32px;
}
.typeC.end .indicator::before {
    right: 25px;
    box-shadow: -16px -16px var(--bg-clr);
    bottom: -32px;
}

/*indicator displacement*/
.end.typeA .list_item.active~.indicator,
.end.typeB .list_item.active~.indicator {
    opacity: 1;
}
.end:not(.typeC) .list_item:nth-child(2).active~.indicator {
    transform: translateY(calc(64px * 0)) translateX(-32px);
    transition: 0.5s;
}
.end:not(.typeC) .list_item:nth-child(3).active~.indicator {
    transform: translateY(calc(64px * 1)) translateX(-32px);
    transition: 0.5s;
}
.end:not(.typeC) .list_item:nth-child(4).active~.indicator {
    transform: translateY(calc(64px * 2)) translateX(-32px);
    transition: 0.5s;
}
.end:not(.typeC) .list_item:nth-child(5).active~.indicator {
    transform: translateY(calc(64px * 3)) translateX(-32px);
    transition: 0.5s;
}
.end:not(.typeC) .list_item:nth-child(6).active~.indicator {
    transform: translateY(calc(64px * 4)) translateX(-32px);
    transition: 0.5s;
}


/*type C*/
.end.typeC .list_item:nth-child(2).active~.indicator {
    transform: translateY(calc(64px*0));
    transition: 0.5s;
}

.end.typeC .list_item:nth-child(3).active~.indicator {
    transform: translateY(calc(64px*1));
    transition: 0.5s;
}

.end.typeC .list_item:nth-child(4).active~.indicator {
    transform: translateY(calc(64px*2));
    transition: 0.5s;
}

.end.typeC .list_item:nth-child(5).active~.indicator {
    transform: translateY(calc(64px*3));
    transition: 0.5s;
}

.end.typeC .list_item:nth-child(6).active~.indicator {
    transform: translateY(calc(64px*4));
    transition: 0.5s;
}