.DS_Store
node_modules
/dist
src/assets/parallax
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.txt

public/DI_1.png
public/DI_2.png
public/DI_3.png
public/DI_4.png
public/DI_5.png
public/DI_6.png
public/DI_7.png
public/DI_8.png
public/DI_9.png
