.bottom .MMLabel {
    transform: translateY(-20px);
}
.bottom .list_item.active .MMLabel {
    transform: translateY(12px);
}
.bottom .active.list_item .icon {
    transform: translateY(-32px);
}
/*indicator*/
.bottom .indicator::before {
    left: -22px;
    box-shadow: 9px 11px var(--clr);
    bottom: 32px;
}
.bottom .indicator::after {
    right: -22px;
    box-shadow: -9px 11px var(--clr);
    bottom: 32px;
}
/*indicator displacement*/
.bottom .list_item:nth-child(2).active~.indicator {
    transform: translateX(calc(64px * 0)) translateY(-32px);
    transition: 0.5s;
}
.bottom .list_item:nth-child(3).active~.indicator {
    transform: translateX(calc(64px * 1)) translateY(-32px);
    transition: 0.5s;
}
.bottom .list_item:nth-child(4).active~.indicator {
    transform: translateX(calc(64px * 2)) translateY(-32px);
    transition: 0.5s;
}
.bottom .list_item:nth-child(5).active~.indicator {
    transform: translateX(calc(64px * 3)) translateY(-32px);
    transition: 0.5s;
}
.bottom .list_item:nth-child(6).active~.indicator {
    transform: translateX(calc(64px * 4)) translateY(-32px);
    transition: 0.5s;
}