.top .MMLabel {
    transform: translateY(-20px);
}
.top .list_item.active .MMLabel {
    transform: translateY(-12px);
}
.top .active.list_item .icon {
    transform: translateY(32px);
}
.top .indicator::before {
    left: -22px;
    box-shadow: 9px -11px var(--clr);
    top: 32px;
}
.top .indicator::after {
    right: -22px;
    box-shadow: -9px -11px var(--clr);
    top: 32px;
}

.top .list_item:nth-child(2).active~.indicator {
    transform: translateX(calc(64px * 0)) translateY(32px);
    transition: 0.5s;
}
.top .list_item:nth-child(3).active~.indicator {
    transform: translateX(calc(64px * 1)) translateY(32px);
    transition: 0.5s;
}
.top .list_item:nth-child(4).active~.indicator {
    transform: translateX(calc(64px * 2)) translateY(32px);
    transition: 0.5s;
}
.top .list_item:nth-child(5).active~.indicator {
    transform: translateX(calc(64px * 3)) translateY(32px);
    transition: 0.5s;
}
.top .list_item:nth-child(6).active~.indicator {
    transform: translateX(calc(64px * 4)) translateY(32px);
    transition: 0.5s;
}