.MMLabel {
    position: absolute;
    font-size: 0.3em;
    letter-spacing: 1px;
    opacity: 0;
    word-wrap: normal;
}

.list_item {
    width: 64px !important;
    height: 64px !important;
    background: transparent;
    z-index: 1000 !important;
    transition: 0.5s;
}
.list_item.active .MMLabel {
    font-size: 0.7em;
    opacity: 1;
    color: black !important;
    transition: 0.6s;
    border-radius: 10px;
    background: var(--clr);
}
.icon {
    font-size: 1.2em;
    background: transparent !important;
}
.active.list_item .icon {
    color: var(--clr) !important;
    transition: 0.6s;
}
.indicator {
    width: 64px;
    height: 64px;
    position: absolute;
    border-radius: 50%;
    transition: 0.5s;
}
.indicator::before,
.indicator::after {
    content: '';
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}